<h1><a name="_Toc524359552"></a>TeamSpeak Inc.,</h1>

<h2>Privacy statement and Terms &amp; Conditions</h2>

<p>Table of Contents</p>

<p><a href="#_Toc524517542">Data protection declaration</a></p>

<p style="margin-left:40px"><a href="#_Toc524517543">1. Scope</a></p>

<p style="margin-left:40px"><a href="#_Toc524517544">2. Service provider</a></p>

<p style="margin-left:40px"><a href="#_Toc524517545">3. Information</a></p>

<p style="margin-left:40px"><a href="#_Toc524517546">4. Revocation</a></p>

<p style="margin-left:40px"><a href="#_Toc524517547">5. Use of cookies</a></p>

<p style="margin-left:40px"><a href="#_Toc524517548">6. Informational use of the websites operated by TeamSpeak USA</a></p>

<p style="margin-left:40px"><a href="#_Toc524517549">7. Data collection when purchasing licenses for the software solutions via Teamspeak.com</a></p>

<p style="margin-left:40px"><a href="#_Toc524517550">8. Data collection when downloading the TS3 Client</a></p>

<p style="margin-left:40px"><a href="#_Toc524517551">9. Data collection, storage and processing when using the TS3 Client (PC)</a></p>

<p style="margin-left:40px"><a href="#_Toc524517552">10. Server rent</a></p>

<p style="margin-left:40px"><a href="#_Toc524517553">11. Use of the forum</a></p>

<p style="margin-left:40px"><a href="#_Toc524517554">12. Uploading and downloading Add Ons</a></p>

<p style="margin-left:40px"><a href="#_Toc524517555">13. Use of the online inquiry; order by e-mail, fax or telephone</a></p>

<p style="margin-left:40px"><a href="#_Toc524517556">14. Social networks and third-party services</a></p>

<p style="margin-left:40px"><a href="#_Toc524517557">15. Passing on data to third parties</a></p>

<p style="margin-left:40px"><a href="#_Toc524517558">16. Web tracking</a></p>

<p style="margin-left:40px"><a href="#_Toc524517559">17. Data security</a></p>

<p style="margin-left:40px"><a href="#_Toc524517560">18. Data Protection Officer</a></p>

<p><a href="#_Toc524517561">General business Terms and Customer Information of TeamSpeak Systems, Inc. </a></p>

<p><a href="#_Toc524517562">I. General Terms and Conditions</a></p>

<p style="margin-left:40px"><a href="#_Toc524517563">1. Scope</a></p>

<p style="margin-left:40px"><a href="#_Toc524517564">2. Entrepreneurial status</a></p>

<p style="margin-left:40px"><a href="#_Toc524517565">3. Subject matter of the contract</a></p>

<p style="margin-left:40px"><a href="#_Toc524517566">A. Terms and Conditions for the conclusion of the contract1</a></p>

<p style="margin-left:40px"><a href="#_Toc524517567">4. Conclusion of the contract for the licensing of the software solutions1</a></p>

<p style="margin-left:40px"><a href="#_Toc524517568">5. Conclusion of a contract for the brokerage of server places</a></p>

<p style="margin-left:40px"><a href="#_Toc524517569">6. Conclusion of the client licensing agreement</a></p>

<p style="margin-left:40px"><a href="#_Toc524517570">7. Conclusion of the contract concerning the uploading and downloading of Add Ons</a></p>

<p style="margin-left:40px"><a href="#_Toc524517571">8. Conclusion of the contract for the use of the forum&nbsp;&nbsp;&nbsp; </a></p>

<p style="margin-left:40px"><a href="#_Toc524517572">B. Special provisions for the respective contracts for individual services</a></p>

<p style="margin-left:40px"><a href="#_Toc524517573">9. License fees for the use of the software solutions</a></p>

<p style="margin-left:40px"><a href="#_Toc524517574">10. Pricing and terms of payment for the licensing of the software solutions</a></p>

<p style="margin-left:40px"><a href="#_Toc524517575">11. Termination of license agreements for the software solutions</a></p>

<p style="margin-left:40px"><a href="#_Toc524517576">12. Obligations of the customer when using the client</a></p>

<p style="margin-left:40px"><a href="#_Toc524517577">13. Termination of the client licensing agreements</a></p>

<p style="margin-left:40px"><a href="#_Toc524517578">14. Publication of contributions in the forum&nbsp;&nbsp;&nbsp; </a></p>

<p style="margin-left:40px"><a href="#_Toc524517579">15. Cancellation of the user account for the forum&nbsp;&nbsp;&nbsp; </a></p>

<p style="margin-left:40px"><a href="#_Toc524517580">16. Release of Add Ons</a></p>

<p style="margin-left:40px"><a href="#_Toc524517581">17. Termination of the customer account as a developer</a></p>

<p><a href="#_Toc524517582">C. General terms and conditions</a></p>

<p style="margin-left:40px"><a href="#_Toc524517583">18. Warranty</a></p>

<p style="margin-left:40px"><a href="#_Toc524517584">19. Liability</a></p>

<p style="margin-left:40px"><a href="#_Toc524517585">20. Offsetting, rights of retention and assignment</a></p>

<p style="margin-left:40px"><a href="#_Toc524517586">21. Text form&nbsp;&nbsp;&nbsp; </a></p>

<p style="margin-left:40px"><a href="#_Toc524517587">22. Applicable law and place of jurisdiction</a></p>

<p style="margin-left:40px"><a href="#_Toc524517588">II. customer information&nbsp;&nbsp; </a></p>

<p style="margin-left:40px"><a href="#_Toc524517589">1. Identity of the provider</a></p>

<p style="margin-left:40px"><a href="#_Toc524517590">2. Information regarding the conclusion of the contract</a></p>

<p style="margin-left:40px"><a href="#_Toc524517591">3. Contract language, contract text storage</a></p>

<p style="margin-left:40px"><a href="#_Toc524517592">4. Essential characteristics of the goods and services</a></p>

<p style="margin-left:40px"><a href="#_Toc524517593">5. Prices and payment methods</a></p>

<p style="margin-left:40px"><a href="#_Toc524517594">6. Statutory liability for defects</a></p>

<p style="margin-left:40px"><a href="#_Toc524517595">7. Term of contract, termination</a></p>

<p>&nbsp;</p>

<h1><a name="_Toc524517542"></a>Data protection declaration</h1>

<h2><a name="_Toc524517543"></a>1. Scope</h2>

<p style="margin-left:40px">1.1 Below you will find information about the collection, storage and processing of personal data by TeamSpeak Systems Inc, PO Box 211180, Chula Vista, CA, 91921 USA (hereinafter TeamSpeak USA) and TeamSpeak Systems GmbH, Soiernstr. 1, 82494 Kr&uuml;n, entered in the Register of Companies of the Munich District Court under the registration number HRB 172523 (hereinafter TeamSpeak DE; hereinafter both companies together as TeamSpeak) under the domains teamspeak.com, teamspeakusa.com and myteamspeak.com (hereinafter referred to jointly as &quot;Teamspeak.com&quot; and &quot;Myteamspeak.com&quot; and all three collectively referred to as &quot;Website/s&quot;), which may also be accessed as a mobile version. This applies in particular - but not only - to the download of the software solutions &quot;TS3 Client&quot; and &quot;TeamSpeak 3 SDK&quot; (hereinafter jointly referred to as &quot;Software Solutions&quot;), the download and use of the &quot;TS3 Client&quot; (for PC or mobile devices), the participation in the forum and the uploading and downloading of own software programs which are compatible with the software solutions of TeamSpeak and released by TeamSpeak (hereinafter referred to as &quot;Add Ons&quot;).</p>

<p style="margin-left:40px">1.2 Personal data are all data that can be traced back to you personally, i.e. could be connected with your person. These are in particular name, e-mail address, address, telephone number, user behaviour, IP address, etc.</p>

<h2><a name="_Toc524517544"></a><a name="_Toc524359554"></a>2. Service provider</h2>

<p style="margin-left:40px">2.1 (Joint) Controller according to Art. 4 No. 7 GDPR in connection with Art. 26 Par. 1 S. 1 GDPR is TeamSpeak.</p>

<p style="margin-left:40px">2.2 The websites operated by TeamSpeak USA contain links that take you to third-party websites. TeamSpeak USA expressly points out that in this case you must inform yourself about the collection, storage and processing of personal data by the third-party provider on the linked website, as TeamSpeak USA has no influence on this.</p>

<h2><a name="_Toc524517545"></a><a name="_Toc524359555"></a>3. Information</h2>

<p style="margin-left:40px">3.1 You have the right to request detailed information from TeamSpeak USA at any time about the personal data stored and processed, its origin, the purpose of storage and processing and the recipients or categories of recipients to whom this data is disclosed.</p>

<p style="margin-left:40px">3.2 Please send the request for information by e-mail to privacy@teamspeak.com or by e-mail, telephone, mail or fax to the contact details given in the imprint on the TeamSpeak USA website.</p>

<h2><a name="_Toc524517546"></a><a name="_Toc524359556"></a>4. Revocation</h2>

<p style="margin-left:40px">4.1 You can revoke your consent to the storage, collection and processing of your personal data at any time.</p>

<p style="margin-left:40px">4.2 Please send your revocation by e-mail to privacy@teamspeak.com or by e-mail, telephone, mail or fax on the web pages operated by TeamSpeak USA.</p>

<h2><a name="_Toc524517547"></a><a name="_Toc524359557"></a>5. Use of cookies</h2>

<p style="margin-left:40px">5.1 When you use TeamSpeak USA&#39;s websites, cookies are stored on your computer, even if they are used for information purposes only on the websites operated by TeamSpeak USA.</p>

<p style="margin-left:40px">5.2 Cookies are small text files that are stored on your hard disk, which is assigned to the browser you use, and through which certain information is transmitted to the site that sets the cookie. Cookies cannot run programs and above all cannot transmit viruses to your computer. Cookies are used in particular to make the websites operated by TeamSpeak USA more user-friendly.</p>

<p style="margin-left:40px">5.3 If you have an account for the websites operated by TeamSpeak USA, cookies are used in particular to identify you for subsequent visits to the websites operated by TeamSpeak USA. This prevents you from having to log in again for each visit.</p>

<p style="margin-left:40px">5.4 The websites operated by TeamSpeak USA use the following types of cookies:</p>

<ul style="margin-left:40px">
	<li>Transient cookies, i.e. with temporary use</li>
	<li>Persistent cookies, i.e. with temporary use</li>
	<li>Third party cookies, i.e. cookies from third parties</li>
</ul>

<p style="margin-left:40px">5.5 Transient cookies are deleted as soon as you close your browser. These include in particular the so-called session cookies. Session cookies store a session ID with which your browser&#39;s requests can be assigned to the session so that your computer can be recognized by the system when you return to the website operated by TeamSpeak USA. As soon as you log out or close your browser, all session cookies are automatically deleted.</p>

<p style="margin-left:40px">5.6 Persistent cookies are only deleted after a period of time that depends on the respective cookie and extends beyond the session, but no later than two months after the cookie has been set. You can delete these cookies automatically at any time in the security settings of your browser.</p>

<p style="margin-left:40px">5.7 In your browser settings you can individually adjust the use of cookies and also completely prevent them. In particular, you can also completely prevent the use of third party cookies. In this case, however, you may not be able to use all features of the websites operated by TeamSpeak USA.</p>

<p style="margin-left:40px">5.8 The information stored via cookies is stored separately from your other personal data and is not linked to it.</p>

<p style="margin-left:40px">5.9 TeamSpeak USA points out that third party providers who collect data through the use of cookies also use data about the use of the websites operated by TeamSpeak USA for user-generated advertising on other websites. TeamSpeak USA has no influence on this data collection.</p>

<h2><a name="_Toc524517548"></a><a name="_Toc524359558"></a>6. Informational use of the websites operated by TeamSpeak USA</h2>

<p style="margin-left:40px">6.1 For informational purposes only, TeamSpeak USA collects only the data transmitted by your browser:</p>

<ul style="margin-left:40px">
	<li>Your IP address</li>
	<li>the date, time and duration of your visit to the Web site operated by TeamSpeak USA</li>
	<li>Your user behaviour, i.e. your visit to the website operated by TeamSpeak USA, sub-pages of the websites operated by TeamSpeak USA as well as the order of your visits, clicks made and the time spent on individual pages and sub-pages</li>
	<li>Time zone difference to Greenwich Mean Time</li>
	<li>The access status / http status code</li>
	<li>Concretely transferred data volumes</li>
	<li>Operating system and its interface</li>
	<li>Browser, language and version of the browser software</li>
	<li>The website from which the request comes</li>
</ul>

<p style="margin-left:40px">When using a mobile device, the following data is also stored:</p>

<ul style="margin-left:40px">
	<li>Type of mobile device and its settings</li>
	<li>Your location from which you access the website operated by TeamSpeak USA</li>
</ul>

<p style="margin-left:40px">6.2 The informational use of the websites operated by TeamSpeak USA only is deemed to exist if you do not sign up for a customer account, forum account or developer account, if not downloaded the software solutions or the TeamSpeak Software Client, if not uploaded or downloaded any Add Ons, if not made request via the TeamSpeak USA Websites or otherwise submit any personal information to TeamSpeak USA.</p>

<h2><a name="_Toc524517549"></a><a name="_Toc524359559"></a>7. Data collection when purchasing licenses for the software solutions via Teamspeak.com</h2>

<p style="margin-left:40px">7.1 If you wish to purchase software solution licenses or other TeamSpeak USA services through the websites operated bay TeamSpeak USA, you must create a customer account. An order without an existing or newly created customer account is not possible.</p>

<p style="margin-left:40px">7.2 When registering for a user account, the data entered by you during the registration process will be stored - subject to deletion of your user account by TeamSpeak USA at any time upon your request.</p>

<p style="margin-left:40px">7.3 The data transmitted by you will be used in particular for the performance of both parties&#39; contracts. For this purpose, your data may also be passed on to the partners required to fulfil the contract. This is in particular the payment service provider PayPal Inc, 2211 North First Street, 95131 San Jos&eacute;, California, USA (hereinafter referred to as &quot;PayPal&quot;). Further information on the transfer of your personal data to third parties can be found in section 15 of this data protection declaration.</p>

<p style="margin-left:40px">7.4 TeamSpeak USA also uses your personal data for marketing and advertising purposes for TeamSpeak&#39;s services. However, without your separate consent, only information about TeamSpeak services will be sent to you for this purpose that is similar to the services you use.</p>

<p style="margin-left:40px">7.5 You may at any time have your account deleted by TeamSpeak USA by sending a request to privacy@teamspeak.com or by requesting TeamSpeak USA to delete the data described in the imprint of the website operated by TeamSpeak USA. If you request us to delete your user account, your data will be deleted immediately as soon as it is no longer required for the performance of both parties&#39; contracts and TeamSpeak USA is not legally obliged to store it.</p>

<p style="margin-left:40px">7.6 In order to prevent unauthorized access to your personal data, especially financial data, the order process is encrypted using SSL technology.</p>

<h2><a name="_Toc524517550"></a><a name="_Toc524359560"></a>8. Data collection when downloading the TS3 Client</h2>

<p style="margin-left:40px">8.1 In the case of downloading a version of the TS 3 Client for PC, Sections 5 and 6 as well as 7.2 to 7.6 of this data protection declaration shall apply accordingly. TeamSpeak USA does not collect, store or process any additional personal information about you during download.</p>

<p style="margin-left:40px">8.2 If you download a version of the TS3 Client for mobile devices, you will be redirected to the &quot;Apple AppStore&quot; (in the case of the iOS version) or &quot;Android Market&quot; (in the case of the Android version) websites of a third party provider.</p>

<p style="margin-left:40px">8.2.1 For the collection, storage and processing of personal data by TeamSpeak USA, Sections 5 and 6 as well as 7.2 to 7.6 of this Privacy Policy shall apply accordingly. TeamSpeak USA does not collect, store or use any additional personal data during the download process.</p>

<p style="margin-left:40px">8.2.2 The third party provider collects, stores and uses personal data from you. Please check the third-party website for information about the collection, storage and use of personal data by the third party, as TeamSpeak USA has no influence over this.</p>

<h2><a name="_Toc524517551"></a><a name="_Toc524359561"></a>9. Data collection, storage and processing when using the TS3 Client (PC)</h2>

<p style="margin-left:40px">9.1 When using the TS 3 Client for the PC, TeamSpeak USA collects, stores and processes the following personal data from you:</p>

<ul style="margin-left:40px">
	<li>IP address</li>
	<li>Information about the operating system used (32 bit or 64 bit)</li>
	<li>User behavior (especially activated buttons and menu items)</li>
	<li>Crash report, if you send one to TeamSpeak USA (lines of code, annoying incident, essential data of the hardware used)</li>
</ul>

<p style="margin-left:40px">9.2 TeamSpeak USA uses this data exclusively for quality control and further development of the software solutions and the TS3 Client. The data described in section 9.1 of this data protection declaration will not be linked or otherwise associated with other data stored about you. The data will be made anonymous for further processing immediately after collection.</p>

<p style="margin-left:40px">9.3 If you do not agree to the collection, storage and processing of the data described in Section 9.1 of this data protection declaration, you can exclude this in the field labeled&quot;Anonymous Statistics&quot;. To access this field, follow the menu items &quot;Settings&quot;, &quot;Options&quot; and then &quot;Applications&quot;.</p>

<p style="margin-left:40px">9.4 You can object to the collection, storage and processing of the data described under 9.1 at any time. Please send your objection by e-mail to privacy@teamspeak.com or object by e-mail, telephone, mail or fax using the information in the imprint of the Web site operated by TeamSpeak USA. All data that can be traced back to you personally will be deleted immediately in the event of an objection.</p>

<p style="margin-left:40px">9.5 The sending of a crash report in the event of a malfunction is voluntary and requires your separate consent for data collection, storage and processing, which will be requested separately from you before sending the crash report. In the event that a crash report is sent, Sections 9.2 and 9.4 of this data protection declaration shall apply accordingly.</p>

<h2><a name="_Toc524517552"></a><a name="_Toc524359562"></a>10. Server rent</h2>

<p style="margin-left:40px">10.1 TeamSpeak USA will only arrange the rental of server space from third party providers.</p>

<p style="margin-left:40px">10.2 Sections 5 and 6 and 7.2 to 7.6 of this data protection declaration apply accordingly. TeamSpeak USA does not collect, store or process any additional personal data about you when you rent the server.</p>

<p style="margin-left:40px">10.3 TeamSpeak has no influence on the collection, storage and processing of personal data by the third party provider. Therefore, please inform yourself about the collection, storage and processing of personal data by the third party provider.</p>

<h2><a name="_Toc524517553"></a><a name="_Toc524359563"></a>11. Use of the forum</h2>

<p style="margin-left:40px">11.1 The TeamSpeak Forum can be read without registration. In this case it is a purely informational use of the websites operated by TeamSpeak USA (cf. section 6 of this data protection declaration).</p>

<p style="margin-left:40px">11.2 In order to actively participate in the forum, you must register and create a forum account. When registering, please provide your user name, password, date of birth and e-mail address. There is no requirement for a clear name, use under a pseudonymous user name is possible.</p>

<p style="margin-left:40px">11.3 TeamSpeak USA uses the so-called double opt-in procedure for registration, i.e. your registration is not complete until you have previously confirmed your registration by clicking on the link contained in an e-mail confirmation sent to you for this purpose. If you do not receive a timely confirmation, your registration will be automatically deleted from the database.</p>

<p style="margin-left:40px">11.4 The information you provide during registration will be stored by TeamSpeak USA and linked to the content you publish, which will also be stored by TeamSpeak USA. This data is used exclusively to operate the forum and to process the contract concluded with you regarding the use of the forum.</p>

<p style="margin-left:40px">11.5 You may at any time request TeamSpeak USA to delete your forum account by sending an e-mail to privacy@teamspeak.com or by deleting the data provided in Teamsspeak.com&#39;s imprint. In this case, the personal data stored for your forum account will be deleted immediately as soon as it is no longer required for processing the contractual relationship regarding the use of the forum and TeamSpeak USA is also not legally obliged to keep it. Posts published by you will be displayed anonymously under the label &quot;Guest&quot; after successful deletion of your forum account.</p>

<h2><a name="_Toc524517554"></a><a name="_Toc524359564"></a>12. Uploading and downloading Add Ons</h2>

<p style="margin-left:40px">12.1 The upload of Add Ons requires registration for a customer account as developer (hereinafter referred to as &quot;Developer Account&quot;).</p>

<p style="margin-left:80px">12.1.1 During the registration process, the e-mail address, name and telephone number must be provided and sent to TeamSpeak USA.</p>

<p style="margin-left:80px">12.1.2 The data provided by you during the registration process will be stored - subject to immediate deletion by TeamSpeak USA upon your request for deletion, which may be made at any time.</p>

<p style="margin-left:80px">12.1.3 The data provided during the registration process will be used for the mutual performance of the contract and the enforcement of any existing claims against you (in particular if the Add Ons uploaded by you violate applicable law or the General Terms and Conditions).</p>

<p style="margin-left:80px">12.1.4 TeamSpeak USA also uses the information provided during the registration process to market and promote TeamSpeak&#39;s services. However, for this purpose, only information about TeamSpeak USA services similar to the services you use will be sent to you without your explicit consent.</p>

<p style="margin-left:80px">12.1.5 You may at any time have your Developer Account deleted by sending a request to that effect to privacy@teamspeak.com or the information described in the imprint of the Web pages operated by TeamSpeak USA. In the event that your Developer Account is deleted upon your request, your data will be deleted immediately as soon as it is no longer required for the performance of both parties&#39; contracts and TeamSpeak USA is not legally obliged to store it.</p>

<p style="margin-left:40px">12.2 Registration is not required for the purpose of downloading Add Ons. Sections 5 and 6 of this data protection declaration apply accordingly.</p>

<h2><a name="_Toc524517555"></a><a name="_Toc524359565"></a>13. Use of the online inquiry; order by e-mail, fax or telephone</h2>

<p style="margin-left:40px">13.1 You may also contact TeamSpeak USA online through your account, by phone or email.</p>

<p style="margin-left:40px">13.2 The data sent or mentioned by you in the context of this will be used to answer your enquiry and to contact you by telephone or e-mail and, if necessary, for the fulfilment of both parties&#39; contracts. If your data is also used for the purpose of mutual contract fulfilment, sections 5 and 6 of this data protection declaration apply accordingly.</p>

<h2><a name="_Toc524517556"></a><a name="_Toc524359566"></a>14. Social networks and third-party services</h2>

<p style="margin-left:40px">14.1 TeamSpeak USA uses social media plug-ins from the social networks Facebook, Google+, Twitter, Twitch, Instagram and YouTube, which are operated by TeamSpeak USA.</p>

<p style="margin-left:40px">14.2 Without you clicking on the button of a plug-in, no personal data will be transmitted to the providers of these plug-ins, regardless of whether you place an order.</p>

<p style="margin-left:40px">14.3 If you press the button of a plug-in, personal data is automatically transmitted to the provider of the plug-in and can be stored and used by him. Please note that this can be done abroad, i.e. especially in the United States of America.</p>

<p style="margin-left:40px">14.4 TeamSpeak has no complete knowledge of and cannot influence the type and scope of data collection, its use and processing.</p>

<p style="margin-left:40px">14.5 If you activate a plug-in, the plug-in provider will be informed that you have activated it on the website operated by TeamSpeak USA or on the corresponding subpage of the respective website operated by TeamSpeak USA. In addition, the information referred to in Section 6 of this Privacy Policy will be transmitted to the plug-in provider. According to the plug-in provider&#39;s own information, in the case of Facebook in Germany only an anonymized IP address is collected and transmitted.</p>

<p style="margin-left:80px">14.5.1 The data collection and transmission described in Section 14.5 of this Privacy Policy is independent of whether you have a user account with the respective plug-in provider or not. If you have a user account with the respective plug-in provider and you are logged in to this user account when you click on the respective plug-in, the data transferred to the respective plug-in provider is directly assigned to your user account. If you confirm the activated plug-in and, for example, link to the page, the plug-in provider will also save this information in your user account and can also inform your contacts publicly. To prevent them from being assigned to your user account with the plug-in provider, you should log out of your user account with that plug-in provider before clicking on the plug-in on the TeamSpeak USA web pages.</p>

<p style="margin-left:80px">14.5.2 The respective plug-in provider stores the data transmitted to it, irrespective of whether you are also logged into your user account with the respective plug-in provider, usually as user profiles, which are used for the following purposes, for example:</p>

<ul style="margin-left:40px">
	<li style="margin-left: 40px;">Demand-oriented advertising</li>
	<li style="margin-left: 40px;">market research</li>
	<li style="margin-left: 40px;">Demand-oriented optimization of the plug-in provider&#39;s Internet pages</li>
	<li style="margin-left: 40px;">Inform other members of the social network about your activities on the websites operated by TeamSpeak USA</li>
</ul>

<p style="margin-left:40px">14.6 You are entitled to object to the creation of user profiles with the data collected about you. To do this, contact the relevant plug-in provider. TeamSpeak has no influence and is not responsible for the observance of your objection.</p>

<p style="margin-left:40px">14.7 Further information on this and your rights in this regard can be found in the data protection declarations of the plug-in providers as the responsible bodies, which you can call up as follows:</p>

<p style="margin-left:80px">14.7.1 Facebook Inc, 1601 S California Ave, Palo Alto, California 94304 USA - https://www.facebook.com/policy.php</p>

<p style="margin-left:80px">14.7.2 Google+: Google Inc., 1600 Amphitheater Parkway, Mountain View, California 94103 USA &ndash; https://www.google.com/policies/privacy/partners/?hl=de</p>

<p style="margin-left:80px">14.7.3 Twitter: Twitter, Inc. 1355 Market St., Suite 900, San Francisco, California 94103 USA - https://twitter.com/privacy?lang=en</p>

<p style="margin-left:80px">14.7.4 YouTube: YouTube, LLC (Google Inc.), 901 Cherry Ave., San Bruno, CA 94066 USA -<a href="https://www.google.de/intl/de/policies/privacy/"> https://www.google.de/intl/de/policies/privacy/</a></p>

<p style="margin-left:80px">14.7.5 Twitch: Twitch Interactive, Inc., 350 Bush Street, 2<sup>nd</sup> Floor, San Francisco, CA 94104 USA</p>

<p style="margin-left:80px">-<a href="https://www.twitch.tv/p/de-de/legal/privacy-policy/">https://www.twitch.tv/p/de-de/legal/privacy-policy/</a></p>

<p style="margin-left:80px">14.7.6 Instagram: Instagram LLC, 1601 Willow Road, Menlo Park, CA 94025 USA</p>

<p style="margin-left:80px">-<a href="https://help.instagram.com/155833707900388">https://help.instagram.com/155833707900388</a></p>

<h2><a name="_Toc524517557"></a>15. Passing on data to third parties</h2>

<p style="margin-left:40px">15.1 TeamSpeak may pass on your personal data to third parties if contractually agreed services and conditions which are offered together with the third party provider or contain its services. In this case TeamSpeak will inform you about the transfer of the data to the third party during the order process.</p>

<p style="margin-left:40px">15.2 TeamSpeak also uses external service providers for data processing.</p>

<p style="margin-left:80px">15.2.1 These external service providers are carefully selected and commissioned in writing by TeamSpeak. The external service providers involved in data processing are bound by TeamSpeak&#39;s instructions and are regularly checked for compliance with data protection and data security.</p>

<p style="margin-left:80px">15.2.2 The external service providers are not entitled to pass on the data to third parties.</p>

<p style="margin-left:40px">15.3 TeamSpeak will only process your personal data if permitted by law. In most cases we will process your personal data:</p>

<ul>
	<li style="margin-left: 40px;">With your consent, and please note that you have the right to withdraw your consent at any time by contacting us.</li>
	<li style="margin-left: 40px;">Where TeamSpeak has to fulfill a contract that we enter into or have already entered into with you.</li>
	<li style="margin-left: 40px;">Where it is necessary that the legitimate interests of TeamSpeak (or a third party) and your interests and fundamental rights do not override those interests.</li>
	<li style="margin-left: 40px;">Where TeamSpeak must meet a legal or regulatory obligation.</li>
</ul>

<p style="margin-left:40px">The table below shows how TeamSpeak processes your personal information. Please contact TeamSpeak USA for more information on specific processing requirements.</p>

<p style="margin-left:40px">Below is a breakdown by activity of how TeamSpeak processes your data:</p>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">To process or deliver a product or service you have ordered from TeamSpeak USA, including:</p>

<ul>
	<li style="margin-left: 40px;">Online orders or orders on one of our Internet pages</li>
	<li style="margin-left: 40px;">If we refund a payment</li>
	<li style="margin-left: 40px;">To manage payment and fees</li>
	<li style="margin-left: 40px;">To collect money owed to us</li>
	<li style="margin-left: 40px;">Any other contractual agreement we agree to enter into with you.</li>
</ul>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">Financial data</li>
	<li style="margin-left: 40px;">transaction data</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Performance of a contract with you</li>
	<li style="margin-left: 40px;">Necessary for the legitimate interests of TeamSpeak USA to raise funds owed to TeamSpeak USA.</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">To process your registration with TeamSpeak USA including:</p>

<ul>
	<li style="margin-left: 40px;">receive news, offers, promotions and updates</li>
	<li style="margin-left: 40px;">to receive a voucher</li>
	<li style="margin-left: 40px;">to use our apps completely including myTeamSpeak</li>
	<li style="margin-left: 40px;">if you register elsewhere as one of our customers.</li>
</ul>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">profile data</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Fulfilment of a contract with you</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">To customize direct marketing to you and to send you direct marketing communications via:</p>

<ul>
	<li style="margin-left: 40px;">E-mail</li>
	<li style="margin-left: 40px;">Text-message</li>
	<li style="margin-left: 40px;">push notifications</li>
</ul>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">Technical Specifications</li>
	<li style="margin-left: 40px;">transaction data</li>
	<li style="margin-left: 40px;">consumption data</li>
	<li style="margin-left: 40px;">profile data</li>
	<li style="margin-left: 40px;">Marketing and Communication Data</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">In order to tailor direct marketing, necessary for the legitimate interests of TeamSpeak USA, which are to develop its business and inform its marketing strategy</li>
	<li style="margin-left: 40px;">With respect to sending out direct marketing where you are a customer and where you have not previously chosen not to receive such direct marketing as is necessary for TeamSpeak USA&#39;s legitimate interests, which are to offer you relevant products and services in relation to what we have previously provided to you.</li>
	<li style="margin-left: 40px;">To send direct marketing where you are not a TeamSpeak USA customer, where your consent is given when you sign up for our mobile app, post your details on our website or otherwise and give your consent.</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">Give you the opportunity to participate in raffles, contests or surveys.</p>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">consumption data</li>
	<li style="margin-left: 40px;">profile data</li>
	<li style="margin-left: 40px;">Marketing and communication data</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Fulfilment of a contract with you</li>
	<li style="margin-left: 40px;">Necessary for the legitimate interests of TeamSpeak, which are to investigate how customers use, develop and expand our products and services.</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">Understanding TeamSpeak&#39;s clients, bringing together general information from different sources to create a profile of them; this may include:</p>

<ul>
	<li style="margin-left: 40px;">understand your habits, where you are from time to time, your personal circumstances and those of your family or household, and the things you may like and care about</li>
	<li style="margin-left: 40px;">the way you interact with us, such as subscribing to news, offers, promotions and updates, completing surveys, participating in contests, browsing mobile apps, web sites, evaluating interaction with our social media accounts and our products and services in public forums.</li>
	<li style="margin-left: 40px;">generate aggregated data</li>
</ul>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">Technical Specifications</li>
	<li style="margin-left: 40px;">transaction data</li>
	<li style="margin-left: 40px;">consumption data</li>
	<li style="margin-left: 40px;">profile data</li>
	<li style="margin-left: 40px;">Marketing and Communication Data</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Necessary for the legitimate interests of TeamSpeak, which are to develop our business, products, services, content and advertising campaigns to make them relevant to you and to track the effectiveness of our advertising campaigns.</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">Manage TeamSpeak&#39;s relationship with you, which includes the following:</p>

<ul>
	<li style="margin-left: 40px;">notify you of changes to our privacy policy</li>
	<li style="margin-left: 40px;">Notify you of operational changes to TeamSpeak products, services, websites and mobile apps, for example if TeamSpeak would withdraw one of its apps.</li>
	<li style="margin-left: 40px;">Get feedback from you from time to time about TeamSpeak brands, websites, mobile apps and other services and activities.</li>
	<li style="margin-left: 40px;">to answer your questions, suggestions, problems or complaints, to respond to them and to deal with them and to prepare reports and analyses in this regard.</li>
	<li style="margin-left: 40px;">respond to any social media reviews, posts or other public comments you make about TeamSpeak, its brands, websites, mobile apps, services or other activities</li>
</ul>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">profile data</li>
	<li style="margin-left: 40px;">Marketing and Communication Data</li>
	<li style="margin-left: 40px;">Sensitive data (only, as necessary, for dealing with feedback and complaints on specific topics)</li>
	<li style="margin-left: 40px;">Data from children (only, as necessary, for dealing with feedback and complaints on specific topics)</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Fulfilment of a contract with you</li>
	<li style="margin-left: 40px;">Necessary to meet a legal obligation</li>
	<li style="margin-left: 40px;">Necessary for the legitimate interests of TeamSpeak (to keep files up to date and to investigate how customers use products/services)</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">Manage and protect TeamSpeak&#39;s business and website and ensure safe and secure use of products and services, including:</p>

<ul>
	<li style="margin-left: 40px;">the process of anonymizing your data so that we can no longer identify you and no longer need your data in an identifiable form</li>
	<li style="margin-left: 40px;">Enable secure access to TeamSpeak USA-powered websites, mobile apps and wireless networks</li>
	<li style="margin-left: 40px;">optimizing the user&#39;s security measures and services, such as identifying your user names and passwords and resetting functions</li>
	<li style="margin-left: 40px;">to monitor security measures around the websites, mobile apps and wireless networks operated by TeamSpeak USA to verify that they are not being abused or threatened.</li>
	<li style="margin-left: 40px;">protect you and our business against potential criminal conduct such as fraud</li>
	<li style="margin-left: 40px;">problem management, data analysis, testing, system maintenance, support, transmission and hosting of data</li>
</ul>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">Technical Specifications</li>
	<li style="margin-left: 40px;">consumption data</li>
	<li style="margin-left: 40px;">profile data</li>
	<li style="margin-left: 40px;">Marketing and Communication Data</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Fulfilment of a contract with you</li>
	<li style="margin-left: 40px;">Necessary for the legitimate interests of TeamSpeak, which are to run their business, ensure network security and prevent potentially criminal behavior.</li>
	<li style="margin-left: 40px;">Necessary to meet a legal obligation</li>
</ul>

<p style="margin-left:40px"><strong>activity</strong></p>

<p style="margin-left:40px">Providing information to legal entities and regulatory authorities where TeamSpeak is required to do so by law or regulation.</p>

<p style="margin-left:40px"><strong>Personal Information</strong></p>

<ul>
	<li style="margin-left: 40px;">identity data</li>
	<li style="margin-left: 40px;">contact details</li>
	<li style="margin-left: 40px;">Technical Specifications</li>
	<li style="margin-left: 40px;">transaction data</li>
	<li style="margin-left: 40px;">consumption data</li>
	<li style="margin-left: 40px;">profile data</li>
	<li style="margin-left: 40px;">Marketing and communication data</li>
	<li style="margin-left: 40px;">Sensitive data</li>
	<li style="margin-left: 40px;">Data of children</li>
</ul>

<p style="margin-left:40px"><strong>Basis for processing</strong></p>

<ul>
	<li style="margin-left: 40px;">Necessary to meet a legal obligation.</li>
</ul>

<p style="margin-left:40px">15.4 How TeamSpeak shares your personal information</p>

<p style="margin-left:40px">TeamSpeak cannot run its business or get many of the services and benefits you expect without involving other people and businesses. TeamSpeak shares your information only in accordance with the laws applicable to us and for the purposes stated herein.</p>

<p style="margin-left:40px">From time to time, TeamSpeak processes personal information about you in an automated manner to evaluate certain personal aspects about you. This includes the ability to analyze your interests and make predictions about how you are likely to interact with TeamSpeak. This is commonly referred to as profiling, so TeamSpeak can offer you a more personalized customer experience. This is based on our impression of how you deal with TeamSpeak.</p>

<p style="margin-left:40px">The personal data about you that we process for profiling purposes includes your identity data, your contact data and your profile data. We do not process any personal data about you for profiling purposes consisting of personal data of the special category. We process your personal data for profiling purposes for our legitimate interests, as set out below. If you would like to know more about what kind of profiling we do and what profiling means for you, please contact us and we will be happy to give you a detailed answer. You also have the right to object that we process your personal data for profiling and to learn more about your right of objection.</p>

<p style="margin-left:40px">TeamSpeak shares your personal information:</p>

<ul>
	<li style="margin-left: 40px;">All<strong> TeamSpeak companies</strong>, including new companies, brands or outlets that we may acquire in the future (acting as controllers or contract data processors) and that provide services related to information technology, human resources and systems management services and that you may have agreed to provide you with marketing communications.</li>
	<li style="margin-left: 40px;"><strong>Service providers</strong> (mainly editors, sometimes controllers) that help TeamSpeak provide you with our websites, mobile apps, wireless networks and related services; for example, information technology companies that design and host TeamSpeak USA websites, payment service providers that allow you to use credit or payment cards at TeamSpeak, and data background specialists.</li>
	<li style="margin-left: 40px;"><strong>Related third parties</strong> (acting as contract data processors and controllers) who provide TeamSpeak services such as market research, coupon provision and redemption, marketing background services and data analysis.</li>
	<li style="margin-left: 40px;"><strong>Reward companies</strong> (acting as controllers) you have joined to receive the rewards and benefits offered to you.</li>
	<li style="margin-left: 40px;">Any new<strong> business partners</strong> (who may act as controllers or contract processors) that TeamSpeak may have over time; for example, if TeamSpeak enters into a joint venture with another company, reorganizes, merges, or sell part of our business, the other party may receive some or all of your information.</li>
	<li style="margin-left: 40px;">Our<strong> professional consultants</strong> (acting as controllers or contract data processors); for example, our lawyers, insurance companies and insurance brokers when they need them to advise TeamSpeak or to assist TeamSpeak in taking out insurance.</li>
	<li style="margin-left: 40px;">The police, health and safety authorities, local authorities, the relevant tax authorities in your country, the courts and any other central or local government authorities (acting as controllers or contract data processors) where TeamSpeak must do so in order to comply with its legal requirements, or where TeamSpeak may solicit them and lawfully disclose them, for example for the prevention and detection of criminal offences or the reporting of serious health and safety incidents.</li>
	<li style="margin-left: 40px;">TeamSpeak may also share the information collected with other third parties where TeamSpeak is required to do so by law, for example to comply with a court order.</li>
</ul>

<h2><a name="_Toc524517558"></a><a name="_Toc524359568"></a>16. Web tracking</h2>

<p style="margin-left:40px">16.1 TeamSpeak USA uses Google Analytics on the websites operated by TeamSpeak USA. Google Analytics is a web analytics service provided by Google Inc, 1600 Amphitheater Parkway, Mountainview, California 94103 USA (hereinafter referred to as &quot;Google&quot;). Google Analytics uses cookies which are stored on your computer and enable an analysis of your user behaviour. The information generated by the cookies is also stored by Google abroad, in particular on a Google server in the United States of America.</p>

<p style="margin-left:40px">16.2 The websites operated by TeamSpeak USA use Google Analytics with the extension &quot;_anonymizeIP()&quot;, i.e. the anonymisation function of Google Analytics. As a result, your IP address is usually shortened by Google in a country in the European Economic Area before being transmitted to the United States of America.</p>

<p style="margin-left:40px">16.3 The IP address transmitted by your browser as part of the use of Google Analytics will not be merged with other data that Google collects about you.</p>

<p style="margin-left:40px">16.4 You can exclude the storage of cookies used by Google Analytics by excluding the use of cookies in your browser settings. In this case, however, you will not be able to use other features of the websites operated by TeamSpeak USA.</p>

<p style="margin-left:40px">16.5 You also have the option of excluding the collection and processing of your personal data by Google by installing the browser plug-in available under the following link: http://tools.google.com/dlpage/gaoptout?hl=en</p>

<p style="margin-left:40px">16.6 The use of Google Analytics is in accordance with the conditions on which the German data protection authorities have agreed with Google.</p>

<p style="margin-left:40px">16.7 An overview of the data protection provisions of Google Analytics can be found under this link:<br />
https://support.google.com/analytics/answer/6004245?hl=en</p>

<h2><a name="_Toc524517559"></a><a name="_Toc524359569"></a>17. Data security</h2>

<p style="margin-left:40px">17.1 TeamSpeak takes current technical measures to guarantee data security and thus in particular to protect your personal data from dangers during data transmission and the gaining of knowledge by third parties. TeamSpeak regularly adapts these measures to the current state of the art.</p>

<p style="margin-left:40px">17.2 TeamSpeak USA provides you with information about data security within the company at any time. Please direct your request to privacy@teamspeak.com or the information provided in the imprint of TeamSpeak USA websites.</p>

<h2><a name="_Toc524517560"></a>18. Data Protection Officer</h2>

<p style="margin-left:40px">TeamSpeak has appointed an external data protection officer.</p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:40px">Stephan Hendel</p>

<p style="margin-left:40px">Attorney-at-law</p>

<p style="margin-left:40px">Bajuwarenstrasse 2e</p>

<p style="margin-left:40px">93053 Regensburg</p>

<p style="margin-left:40px">Germany</p>

<p style="margin-left:40px">&nbsp;</p>

<p style="margin-left:40px">If you have any concerns or questions about the data TeamSpeak processes, you can also contact our data protection officer directly. Further contact details can be found at &nbsp;https://www.gabler-hendel.de/kontakt/</p>

<p>&nbsp;</p>

<p><a name="_Toc524517561"></a><a name="_Toc524359571"></a>General business Terms and Customer Information of TeamSpeak<strong> Systems, Inc.</strong></p>

<h1><br />
<a name="_Toc524359572"></a><a name="_Toc524517562"></a>I. General Terms and Conditions</h1>

<h3><a name="_Toc524359573"></a><a name="_Toc524517563"></a>1. Scope</h3>

<p style="margin-left:40px">1.1 These General Terms and Conditions (hereinafter referred to as &quot;GTC&quot;) apply to all contracts between TeamSpeak Systems Inc., PO Box 211180, Chula Vista, CA, 91921 USA (hereinafter referred to as TeamSpeak) and the Customer via the websites to be accessed by TeamSpeak under the domains www.teamspeak.com, www.teamspeakusa.com and www.myteamspeak.com (hereinafter referred to jointly as &quot;Teamspeak.com&quot; and the latter as &quot;Myteamspeak.com&quot; and all three jointly referred to as &quot;TeamSpeak web pages&quot;).</p>

<p style="margin-left:40px">1.2 These GTC shall also apply to all future services or offers to the customer, even if they are not separately agreed again.</p>

<p style="margin-left:40px">1.3 TeamSpeak does not accept any deviating, additional or contradictory terms and conditions of the customer, so that they are not included in the contract. This shall not apply if TeamSpeak has expressly and in writing agreed to the inclusion of the customer&#39;s terms and conditions in the respective individual case.</p>

<h3><a name="_Toc524517564"></a><a name="_Toc524359574"></a>2. Entrepreneurial status</h3>

<p style="margin-left:40px">2.1 All paid offers of TeamSpeak are exclusively directed to entrepreneurs in the sense of &sect; 14 BGB (German Civil Code) who order and use the services of TeamSpeak in the context of their independent, professional or commercial activity.</p>

<p style="margin-left:40px">2.2 Prior to the conclusion of the contract TeamSpeak checks the entrepreneurial status of the customer. The customer must provide TeamSpeak with any requested documents such as a business registration.</p>

<p style="margin-left:40px">2.3 An entrepreneur is any natural or legal person or a partnership with legal capacity who, when concluding a legal transaction, in this case the contract with TeamSpeak, acts in the exercise of its commercial or self-employed professional activity, &sect; 14 BGB (German Civil Code).</p>

<p style="margin-left:40px">2.4 A consumer is any natural person who enters into a legal transaction, in this case the conclusion of a contract with TeamSpeak, for purposes which can predominantly neither be attributed to his commercial nor his independent professional activity, &sect; 13 BGB (German Civil Code).</p>

<p style="margin-left:40px">2.5 Non-commercial grouping within the meaning of these GTC is any grouping of consumers or any legal entity whose business activities do not serve the purpose of making profits, in particular legal entities pursuing a non-profit corporate purpose.</p>

<h3><a name="_Toc524517565"></a><a name="_Toc524359575"></a>3. Subject matter of the contract</h3>

<p style="margin-left:40px">3.1 TeamSpeak is the provider of the software solutions &quot;TS3 Client&quot; and &quot;TeamSpeak 3 SDK&quot; (hereinafter referred to as &quot;Software Solutions&quot;), which enable the customer to communicate by voice or text and to exchange files with third parties.</p>

<p style="margin-left:40px">&ldquo;TS3 Client&quot; is the object code of the client of TeamSpeak Communication Software version 3, which is provided to you by TeamSpeak, including any software extensions, upgrades or updates you receive.</p>

<p style="margin-left:40px">The &ldquo;TeamSpeak 3 SDK&rdquo; software solution is the object code of the TeamSpeak Software Development Kit software version 3 and the client and server provided to you by TeamSpeak, including software enhancements, upgrades or updates that you receive.</p>

<p style="margin-left:40px">&quot;Client&quot; refers to the TeamSpeak software that connects to the TeamSpeak Server software via the Internet. &quot;Server&quot; means the TeamSpeak software (whether 32-bit or 64-bit) installed on a computer and acting as host.</p>

<p style="margin-left:80px">3.1.1 The software solution &quot;TS3 Client&quot; enables the customer to communicate with third parties by sharing his TeamSpeak server address. The number of third parties to whom the communication channel can be made available depends on the scope of the customer&#39;s licence.</p>

<p style="margin-left:80px">3.1.2 The software solution &quot;TeamSpeak 3 SDK&quot; is a solution for integrating the technical solution for voice transmission and other functions such as file transfer, chat function etc. into the customer&#39;s own software solutions.</p>

<p style="margin-left:40px">3.2 The software solutions are offered under the following license models:</p>

<p style="margin-left:80px">3.2.1 &quot;Unlicensed&quot;: Under the license model &quot;Unlicensed&quot;, the software solutions &quot;TS3 Client&quot; and its predecessor &quot;TeamSpeak 2&quot; can be used free of charge. The use of the software solution &quot;Teamspeak 2 - Server&quot; is limited to the use of a maximum of two virtual servers with up to 1000 slots, the use of the software solution &quot;TeamSpeak 3 Server&quot; to a virtual server with up to 32 slots. Use is unlimited in terms of time. There is no feedback from the virtual server to TeamSpeak. The &quot;Unlicensed&quot; licensing model is available exclusively to non-commercial groups and consumers.</p>

<p style="margin-left:80px">3.2.2 &quot;Non-Profit&quot; (hereinafter referred to as &quot;NPL&quot;): The &quot;TeamSpeak 3 Server&quot; software solution can be used free of charge under the &quot;NPL&quot; license model. The use is limited to two virtual servers with up to 512 slots. The license period is 6 months. Sublicensing of slots and virtual servers to third parties is not permitted. The &quot;NPL&quot; licensing model is available exclusively to non-commercial groups and consumers.</p>

<p style="margin-left:80px">3.2.3 &quot;Annual Activation/Single Server&quot; (hereinafter referred to as &quot;AAL&quot;): The &quot;TeamSpeak 3 Server&quot; software solution can be used for a fee under the &quot;AAL&quot; license model. Depending on the licensing chosen by the customer, it is used between a virtual server with up to 32 slots and up to 2 virtual servers with up to 1064 slots. The license period is one year. Sublicensing of slots and virtual servers to third parties is not permitted.</p>

<p style="margin-left:80px">3.2.4 &quot;Authorized TeamSpeak Hosting Provider&quot; (hereinafter referred to as &quot;ATHP&quot;): Under the &quot;ATHP&quot; license model, the &quot;TeamSpeak 3 Server&quot; software solution can be used for free and virtual servers and slots can be sublicensed to third parties. The license period is one year.</p>

<p style="margin-left:80px">3.2.5 Software Development Kit (hereinafter referred to as the &quot;SDK&quot;): Under the &quot;SDK&quot; license model, the &quot;TeamSpeak 3 SDK&quot; software solution can be used for a fee for integration into the user&#39;s own software solutions. The conditions of the license model &quot;SDK&quot; are individually adapted and agreed by TeamSpeak to the needs of the user.</p>

<p style="margin-left:40px">3.3 TeamSpeak also provides server slots offered by third parties via Teamspeak.com.</p>

<p style="margin-left:40px">3.4 Furthermore, the customer has the possibility to download the Teamspeak Software Client via Teamspeak.com or the referring websites. The client is offered for the operating systems Windows, Linux and MacOS. Furthermore, the customer has the option of downloading the client in a version for mobile devices for iOS or Android.</p>

<p style="margin-left:40px">3.5 TeamSpeak operates a forum via myteamspeak.com, which enables the customer to publish contributions to TeamSpeak&#39;s services, in particular questions, suggestions and ratings on Teamspeak.com in the &quot;Community&quot; section.</p>

<p style="margin-left:40px">3.6 In addition, the customer has the possibility on the Teamspeak web pages to upload own software programs which are compatible with the software solutions of TeamSpeak (hereinafter referred to as &quot;Add Ons&quot;) and to offer them to third parties for download and to download the Add Ons offered by third parties via myteamspeak.com.</p>

<p style="margin-left:40px">3.7 However, the &quot;TS3 Client&quot; may only be used to connect to official &quot;TeamSpeak 3 Servers&quot; developed by TeamSpeak. Any other use is expressly prohibited. In case of violation TeamSpeak reserves the right to claim damages.</p>

<h2><a name="_Toc524517566"></a><a name="_Toc524359576"></a>A. Terms and Conditions for the conclusion of the contract</h2>

<h3><a name="_Toc524517567"></a><a name="_Toc524359577"></a>4. Conclusion of the contract for the licensing of the software solutions</h3>

<p style="margin-left:40px">4.1 A contract with TeamSpeak for the licensing of the software solutions is concluded as described below:</p>

<p style="margin-left:80px">4.1.1 &quot;Unlicensed&quot;: The contract for the free use of the license model &quot;Unlicensed&quot; is concluded by downloading the respective software solution by the customer and making the software solution available by TeamSpeak.</p>

<p style="margin-left:120px">4.1.1.1 To do this, the Customer clicks on TeamSpeak.com on the button labeled &quot;Licensing Overview&quot; and then clicks on the button labeled &quot;Download&quot; under the description of the license model &quot;Unlicensed&quot;.</p>

<p style="margin-left:120px">4.1.1.2 The Customer has the option of downloading the software solution and using it in accordance with these GTC without having to register.</p>

<p style="margin-left:120px">4.1.1.3 By downloading the software solution, a binding contract comes into effect between TeamSpeak and the customer for the use of the software solution in the &quot;Unlicensed&quot; license model.</p>

<p style="margin-left:80px">4.1.2 &quot;NPL&quot;: The contract for the free use of the &quot;NPL&quot; license model is concluded as follows:</p>

<p style="margin-left:120px">4.1.2.1 On TeamSpeak.com, the Customer clicks the button labeled &quot;Licensing Overview&quot; and then the button labeled &quot;Register&quot; displayed under the description of the &quot;NPL&quot; license model.</p>

<p style="margin-left:120px">4.1.2.2 The Customer shall press the &quot;Continue to NPL Application.&quot; button on the overview displayed and confirm that the requirements for non-commercial grouping or consumer property have been met by pressing the &quot;Continue&quot; button. He also confirms the license terms and these GTC by pressing the buttons labeled &quot;I agree&quot;.</p>

<p style="margin-left:120px">4.1.2.3 By clicking on the &quot;Submit&quot; button, the Customer submits an offer to TeamSpeak to conclude the contract for the &quot;NPL&quot; license model. Before pressing the button labeled &quot;Submit&quot;, the customer has the option of deleting or correcting his entry or cancelling the process at any time, also by pressing the &quot;Back&quot; button of his browser.</p>

<p style="margin-left:120px">4.1.2.4 The Customer will receive a confirmation e-mail from TeamSpeak by e-mail to the e-mail address provided during the registration process, confirming receipt of the Customer&#39;s offer by TeamSpeak. A contract is not concluded upon receipt of this confirmation e-mail by the customer.</p>

<p style="margin-left:120px">4.1.2.5 TeamSpeak accepts the customer&#39;s offer by making the software solution available for download. This results in a binding contract between TeamSpeak and the customer for the use of the software solution in the &quot;NPL&quot; license model.</p>

<p style="margin-left:120px">4.1.2.6 The Customer shall receive a confirmation e-mail from TeamSpeak by e-mail to the e-mail address provided during registration, summarizing the essential contents of the contract. With this confirmation e-mail the general terms and conditions will also be sent to the customer.</p>

<p style="margin-left:80px">4.1.3&quot;AAL&quot;: The contract for the paid use of the &quot;AAL&quot; license model is concluded as follows:</p>

<p style="margin-left:120px">4.1.3.1 The Customer registers for a Customer Account for TeamSpeak.com: The Customer clicks the button labeled &quot;Sales&quot; and then the button labeled &quot;Continue to register for an account. He fills in the displayed registration form and sends it by pressing the button labeled &quot;Register&quot;.</p>

<p style="margin-left:120px">4.1.3.2 The Customer shall receive an overview of the data entered by him and shall have the option, after pressing the &quot;modify&quot; button, to correct or delete the data or to cancel the registration process by closing the browser window or pressing the &quot;Back&quot; button of the browser.</p>

<p style="margin-left:120px">4.1.3.3 By clicking the button labeled &quot;Confirm&quot;, the customer submits a binding offer to conclude a contract for the setup of his customer account.</p>

<p style="margin-left:120px">4.1.3.4 TeamSpeak sends a confirmation e-mail with a confirmation link and password to the customer.</p>

<p style="margin-left:120px">4.1.3.5 TeamSpeak displays the license models offered to the customer in the customer area of his customer account. With this advertisement TeamSpeak makes a binding offer to conclude a contract with the customer about the displayed license models.</p>

<p style="margin-left:120px">4.1.3.6 The Customer selects the &quot;AAL&quot; license desired by him from his Customer Account and clicks the button labeled &quot;Add&quot;. By clicking the button labeled &quot;Add&quot;, the customer accepts TeamSpeak&#39;s offer to conclude the contract and a binding contract for the use of the software solution in the &quot;AAL&quot; license model is concluded.</p>

<p style="margin-left:120px">4.1.3.7 The Customer shall receive a confirmation e-mail from TeamSpeak by e-mail to the e-mail address provided during registration, summarizing the essential contents of the contract.</p>

<p style="margin-left:80px">4.1.4&quot;ATHP&quot;: The contract for the paid use of the license model &quot;ATHP&quot; is concluded as follows:</p>

<p style="margin-left:120px">4.1.4.1 The Customer registers for a Customer Account for TeamSpeak.com. The steps of registration are governed by clauses 4.1.3.1 to 4.1.3.4 of these GTC.</p>

<p style="margin-left:120px">4.1.4.2 The customer selects the &quot;ATHP&quot; license model in his customer account and clicks the button marked &quot;Add&quot;. An invoice for the registration fee of $50 USD will be sent to the customer. Once the customer has paid the registration fee, TeamSpeak will send an email to the customer with instructions to complete the application process (as described below).</p>

<p style="margin-left:120px">4.1.4.3 The Customer shall send TeamSpeak the completed application form, the signed License Agreement, a copy of the identity card or passport of an authorized representative, as well as the business registration, the VAT ID or any other document identifying the Customer as an entrepreneur within the meaning of Section 2.3 of these GTC. The transmission to TeamSpeak takes place by e-mail to the e-mail address athps@teamspeak.com or by fax to the fax number +49-8825-920-27-97. With the transmission of the aforementioned documents, the customer submits a binding offer for the conclusion of the contract.</p>

<p style="margin-left:120px">4.1.4.4 TeamSpeak sends the customer a confirmation e-mail to the e-mail address stored in the customer account confirming receipt of the customer&#39;s offer. A contract is not concluded upon receipt of this confirmation e-mail.</p>

<p style="margin-left:120px">4.1.4.5 TeamSpeak accepts the customer&#39;s offer by making the software solution available for download in the customer area of the customer account. With the provision of the software solution a binding contract between the customer and TeamSpeak about the use of the software solution in the license model &quot;ATHP&quot; comes into being.</p>

<p style="margin-left:120px">4.1.4.6 The Customer will receive a confirmation e-mail from TeamSpeak by e-mail to the e-mail address provided during registration, summarizing the essential contents of the contract.</p>

<p style="margin-left:80px">4.1.5 &quot;Software Development Kit&quot; (hereinafter referred to as the &quot;SDK&quot;): The contract for the paid use of the &quot;SDK&quot; license model is concluded by concluding an individual contract with the customer.</p>

<p style="margin-left:80px">4.1.5.1 The Customer shall contact TeamSpeak by e-mail at ts3sdk@teamspeak.com or by telephone at +49 8825 920200-0.</p>

<p style="margin-left:80px">4.1.5.2 TeamSpeak sends the customer an offer for the services requested by the customer in text form to the e-mail address provided by the customer. With this e-mail TeamSpeak makes a binding offer to conclude a contract under the conditions specified in the e-mail.</p>

<p style="margin-left:80px">4.1.5.3 By accepting the offer of TeamSpeak by the customer in text form, a binding contract for the use of the license model &quot;SDK&quot; is concluded.</p>

<h3><a name="_Toc524517568"></a><a name="_Toc524359578"></a>5. Conclusion of a contract for the brokerage of server places</h3>

<p style="margin-left:40px">5.1 The customer is redirected via Teamspeak.com to the website of the third party provider.</p>

<p style="margin-left:40px">5.2 In the event that a third party offers server space, a contract is concluded exclusively between the customer and the respective third party. It is strongly recommended that the customer obtain information from the third party about the conclusion of the contract and, if applicable, its general terms and conditions.</p>

<h3><a name="_Toc524517569"></a><a name="_Toc524359579"></a>6. Conclusion of the client licensing agreement</h3>

<p style="margin-left:40px">6.1 A contract for the licensing of the client is concluded as follows:</p>

<p style="margin-left:80px">6.1.1 The customer presses the button &quot;Download&quot; on TeamSpeak.com. The customer is directed to a subpage showing an overview of the versions of the client to be downloaded (Windows, Linux and MacOS as well as for mobile devices).</p>

<p style="margin-left:80px">6.1.2 The Customer selects the version corresponding to his requirements and presses the button with the label &quot;Download&quot;, which is displayed next to the version of the Client selected by him. The customer has the possibility to cancel the download process at any time by closing his browser window or ending the process.</p>

<p style="margin-left:80px">6.1.3 If Windows, Linux or MacOS versions are selected, the customer makes a binding offer to conclude the contract by clicking on the &quot;Download&quot; button. TeamSpeak accepts this offer by providing the client for download by teamspeak.com or the referring websites, so that a binding contract is concluded between TeamSpeak and the customer.&nbsp;</p>

<p style="margin-left:80px">6.1.4 If a version of the client for mobile devices is selected, the customer will be redirected to the websites of third parties &quot;Apple AppStore&quot; (iOS) or &quot;Android Market&quot; (Android) and can purchase them there under the terms of the respective third party provider. The customer is strongly advised to inform himself about the conclusion of the contract and the general terms and conditions of the third party provider.</p>

<h3><a name="_Toc524517570"></a><a name="_Toc524359580"></a>7. Conclusion of the contract concerning the uploading and downloading of Add Ons</h3>

<p style="margin-left:40px">7.1 TeamSpeak only provides the platform for uploading and downloading Add Ons. The contract for the use of the respective add-on is concluded exclusively between the customer who uploads the add-on and the customer who downloads the add-on.</p>

<p style="margin-left:40px">7.2 To upload Add Ons, the customer must register for a customer account as a developer (hereinafter referred to as &quot;Developer Account&quot;).</p>

<p style="margin-left:40px">7.3 To do this, the customer clicks the button labeled &quot;MyTeamSpeak&quot; and the button labeled &quot;Register&quot; on the subpage that appears.</p>

<p style="margin-left:40px">7.4 The customer completes the displayed registration form by entering his e-mail address and password and presses the button labeled &quot;Register&quot;.</p>

<p style="margin-left:40px">7.5 TeamSpeak sends a confirmation e-mail with a confirmation link to the customer.</p>

<p style="margin-left:40px">7.6 The customer activates the confirmation link contained in the e-mail and is led to his customer account under the menu item &quot;Dashboard&quot;.</p>

<p style="margin-left:40px">7.7 The customer clicks the button marked &quot;Become a developer&quot; in his customer account. By entering the name and mobile phone number, the customer completes a registration form and clicks the button labeled &quot;Send confirmation code&quot;.</p>

<p style="margin-left:40px">7.8 TeamSpeak sends a confirmation code with a limited validity period to the mobile phone number specified by the customer.</p>

<p style="margin-left:40px">7.9 The customer enters the confirmation code in the appropriate form field and presses the button labeled &quot;confirm&quot;.</p>

<p style="margin-left:40px">7.10 The customer does not have to register for a customer account to download Add Ons. Downloading is free of charge and without registration on the MyTeamSpeak subpage.</p>

<p style="margin-left:40px">7.11 Only Add Ons in combination with the &quot;TS 3 Client&quot; may be used which can be downloaded from the myteamspeak.com website.</p>

<h3><a name="_Toc524517571"></a><a name="_Toc524359581"></a>8. Conclusion of the contract for the use of the forum</h3>

<p style="margin-left:40px">8.1 The customer presses the button labeled &quot;Forum&quot; and then the button labeled &quot;Register&quot;.</p>

<p style="margin-left:40px">8.2 The Customer completes the registration form displayed after pressing the &quot;Register&quot; button.</p>

<p style="margin-left:40px">8.3 After filling in the registration form, the customer presses the button marked &quot;Complete Registration&quot;. They can correct their data at any time until the &quot;Complete Registration&quot; button is pressed, or cancel the registration by closing their browser window or pressing the &quot;Back&quot; button of their browser.</p>

<p style="margin-left:40px">8.4 The customer receives an access confirmation from TeamSpeak, which contains a confirmation link. This confirmation of access does not constitute an offer to conclude a contract on the part of TeamSpeak, but merely serves to verify the customer&#39;s data.</p>

<p style="margin-left:40px">8.5 The customer can click on the confirmation link and then log in to his customer account. By clicking on the confirmation link, the customer makes a binding offer for the free use of the forum.</p>

<p style="margin-left:40px">8.6 With the provision of the customer account TeamSpeak accepts the offer of the customer, so that a binding contract is concluded.</p>

<h2><a name="_Toc524517572"></a><a name="_Toc524359582"></a>B. Special provisions for the respective contracts for individual services</h2>

<h3><a name="_Toc524517573"></a><a name="_Toc524359583"></a>9. License fees for the use of the software solutions</h3>

<p style="margin-left:40px">9.1 License fees under the &quot;ATHP&quot; license model</p>

<p style="margin-left:80px">9.1.1 A flat-rate basic fee and use-dependent ongoing license fees must be paid for the use of the software solution in the &quot;ATHP&quot; license model.</p>

<p style="margin-left:80px">9.1.2 The basic fee is a flat rate of 50 dollars and is due once upon conclusion of the contract.</p>

<p style="margin-left:80px">9.1.3 The amount of the current licence fees for the granting of licences under the &quot;ATHP&quot; licence model is determined on the basis of the actual use of the number of slots per calendar day. For this purpose, the number of slots used by the virtual server is transmitted daily to a server operated by TeamSpeak. The customer undertakes not to take any measures towards TeamSpeak which are suitable to prevent this transmission or to change the transmission result. The current license fees are due ten working days after receipt of the invoice by the customer.</p>

<p style="margin-left:80px">9.1.4 A minimum license fee is agreed between the customer and TeamSpeak. For the first year of license use, this is the license fee for one use of 200 used slots and for each additional year of license use, the license fee for one use of 1,000 used slots. If the minimum license fee is not achieved, the customer must nevertheless pay license fees in the amount of the minimum license fee.</p>

<p style="margin-left:40px">9.2 Unless otherwise agreed between the customer and TeamSpeak, the license fees stated in the service description for the respective license model shall be deemed agreed.</p>

<p style="margin-left:40px">9.3 TeamSpeak is entitled to change the license fees within the scope of a further development of the software solutions or for reasons of adaptation to the market situation.</p>

<p style="margin-left:40px">9.4 In the event of a price adjustment, a list with the changed prices will be sent to the customer in text form.</p>

<p style="margin-left:40px">9.5 The Customer has the option of terminating the License Agreement without notice within a period of four weeks beginning with the receipt of the notice referred to in Section 9.4 of these GTC.</p>

<p style="margin-left:40px">9.6 The customer has the possibility to object to the price adjustment within a period of four weeks starting with the receipt of the message specified in Section 9.4 of these GTC. In the event of an objection by the customer, TeamSpeak is entitled to terminate the contract within a period of four weeks starting with the receipt of the objection by TeamSpeak.</p>

<h3><a name="_Toc524517574"></a><a name="_Toc524359584"></a>10. Pricing and terms of payment for the licensing of the software solutions</h3>

<p style="margin-left:40px">10.1 All prices or quotations quoted by TeamSpeak are always US dollars, even if an explicit currency quotation is missing, unless otherwise agreed between the parties.</p>

<p style="margin-left:40px">10.2 All prices and/or price quotations are exclusive of the respectively applicable value added tax and any further public charges.</p>

<p style="margin-left:40px">10.3 When ordering via Teamspeak.com, the customer only has access to the payment options shown under the menu item &quot;Payment&quot;, whereby TeamSpeak expressly reserves the right to refuse a payment method selected by the customer in the contract offer.</p>

<p style="margin-left:40px">10.4 In case of telephone orders or orders placed by e-mail, fax or post, payment by bank transfer is agreed as advance payment unless otherwise agreed, whereby TeamSpeak&#39;s payment is due upon conclusion of the contract, i.e. the customer is obliged to pay the remuneration in advance.</p>

<p style="margin-left:40px">10.5 In the event of an invoice payment agreement, payment shall be due within fourteen working days from the date of receipt of the invoice by the customer.</p>

<p style="margin-left:40px">10.6 TeamSpeak is entitled to execute or provide outstanding services only against prepayment or security if after conclusion of the contract it becomes aware of circumstances which are suitable to significantly reduce the creditworthiness of the customer and which endanger the payment of the outstanding claims of TeamSpeak by the customer from the respective contractual relationship (including from other individual orders).</p>

<h3><a name="_Toc524517575"></a><a name="_Toc524359585"></a>11. Termination of license agreements for the software solutions</h3>

<p style="margin-left:40px">11.1 The contracts for the licensing of the software solutions have the contract term specified in the service description (hereinafter referred to as &quot;minimum contract term&quot;), i.e.</p>

<p style="margin-left:80px">11.1.1 The contract for the &quot;Unlicensed&quot; license model has no fixed term. The license model can be used by the customer at any time, as long as TeamSpeak offers this license model.</p>

<p style="margin-left:80px">11.1.2 The contract for the &quot;NPL&quot; licensing model has a minimum term of six months.</p>

<p style="margin-left:80px">11.1.3 The &quot;AAL&quot; licensing model contract has a minimum term of twelve months.</p>

<p style="margin-left:80px">11.1.4 The &quot;ATHP&quot; licensing model contract has a minimum term of twelve months.</p>

<p style="margin-left:80px">11.1.5 The contract for the &quot;SDK&quot; license model has a individually agreed minimum contract term.</p>

<p style="margin-left:40px">11.2 The contract is automatically extended by the minimum contract term if neither party terminates the contract at the end of the minimum contract term. With the &quot;NPL&quot; license model, the contract is only automatically extended if the customer has used the software solution within a period of one month before termination of the minimum contract term; otherwise the contract automatically ends upon termination of the minimum contract term.</p>

<p style="margin-left:40px">11.3 The license agreement can be terminated by the customer at any time at the end of the minimum contract term without observing a period of notice. TeamSpeak may terminate the license agreement at any time subject to a notice period equal to half of the minimum contract term to the end of the minimum contract term.</p>

<p style="margin-left:40px">11.4 The right of both parties to extraordinary termination remains unaffected. TeamSpeak is entitled to an extraordinary right of termination, in particular under the conditions of Section 11.5 of these GTC.</p>

<p style="margin-left:40px">11.5 TeamSpeak has the right to terminate the contract without notice,</p>

<p style="margin-left:80px">11.5.1.1 if the Customer is in arrears with two successive payments due for licensing.</p>

<p style="margin-left:80px">11.5.1.2 if the customer repeatedly falls below the minimum license fee for an &quot;ATHP&quot; license model contract.</p>

<p style="margin-left:80px">11.5.1.3 if the Customer repeatedly violates his obligations under the License Agreement, including these GTC, despite a warning letter, and the violations are not insignificant.</p>

<p style="margin-left:80px">11.5.1.4 if, despite repeated warnings from TeamSpeak, the Customer repeatedly breaches his essential obligations under this Agreement and is responsible for the breach.</p>

<p style="margin-left:80px">11.5.1.5 if the Customer has chosen the &quot;Unlicensed&quot; or &quot;NPL&quot; license models without the property of consumer or non-commercial grouping being present or this property having subsequently ceased to exist. In this case, we reserve the right to claim damages.</p>

<p style="margin-left:40px">11.6 Any termination must be made in text form.</p>

<h3><a name="_Toc524517576"></a>12. Obligations of the customer when using the client</h3>

<p style="margin-left:40px">12.1 The customer himself is obliged to undertake data back-ups at regular intervals. TeamSpeak assumes no responsibility for any loss of data resulting from a breach of this obligation. This does not apply if TeamSpeak is responsible for the violation.</p>

<p style="margin-left:40px">12.2 Furthermore, the customer is obliged to use programs in accordance with the current technical standard against viruses and other malware.</p>

<p style="margin-left:40px">12.3 Updates for the standard software will be provided free of charge when and as soon as they become available. The customer is obliged in his own interest to install updates of the client immediately after their publication. Otherwise, the usability of the client may be restricted.</p>

<h3><a name="_Toc524517577"></a><a name="_Toc524359587"></a>13. Termination of the client licensing agreements</h3>

<p style="margin-left:40px">13.1 The Client may terminate the Licensing Agreement at any time by removing the Client from all end devices of the Client.</p>

<p style="margin-left:40px">13.2 The right to extraordinary termination without notice of both parties remains unaffected.</p>

<p style="margin-left:40px">13.3 Each termination obliges the customer to immediately remove the client from all end devices.</p>

<h3><a name="_Toc524517578"></a><a name="_Toc524359588"></a>14. Publication of contributions in the forum</h3>

<p style="margin-left:40px">14.1 The registered customer has the possibility to publish contributions in the &quot;Community Forum&quot; area on myteamspeak.com via the customer area of his customer account.</p>

<p style="margin-left:40px">14.2 For the purpose of publishing a new article, the customer uploads the article by clicking on the &quot;Post New Thread&quot; button. When replying to another customer&#39;s post, the customer clicks the button labeled &quot;Reply To Thread&quot; to publish his reply post. The article will be sent to TeamSpeak and published by TeamSpeak on myteamspeak.com.</p>

<p style="margin-left:40px">14.3 TeamSpeak does not control the contributions before publication. In case of a reference to the illegality of a contribution, TeamSpeak expressly reserves the right to delete individual contributions.</p>

<p style="margin-left:40px">14.4 The Customer undertakes vis-&agrave;-vis TeamSpeak not to publish any contributions that violate the laws of the Federal Republic of Germany or the rights of third parties.</p>

<p style="margin-left:40px">14.5 The customer releases TeamSpeak from all rights of third parties which they assert against TeamSpeak due to the publication of contributions on Teamspeak.com by the customer. Subject to the consent of the customer, TeamSpeak will not make any acknowledgments or other legal declarations substantiating the asserted claims of the third party.</p>

<p style="margin-left:40px">14.6 The indemnity obligation described in Section 14.5 of these GTC shall not apply if the circumstances substantiating the third party&#39;s claims can be proven to be due to grossly negligent or intentional misconduct on the part of TeamSpeak.</p>

<p style="margin-left:40px">14.7 TeamSpeak undertakes to inform the customer immediately of any legal action against TeamSpeak or the assertion of claims against TeamSpeak, and to give the customer the possibility to take over the legal defence, if this obligation of indemnification regulated in Section 14.5 of these GTC is affected by the customer.</p>

<h3><a name="_Toc524517579"></a><a name="_Toc524359589"></a>15. Cancellation of the user account for the forum</h3>

<p style="margin-left:40px">15.1 The customer has the possibility to have his account deleted by TeamSpeak at any time. To do this, the customer sends the deletion request in text form to TeamSpeak. It is also possible to terminate the contract in text form with a moderator of the forum. TeamSpeak deletes the customer&#39;s forum account immediately after receipt of the cancellation. Contributions published by the client may be deleted or anonymized at TeamSpeak&#39;s discretion. The contract for the use of the customer account ends with the deletion.</p>

<p style="margin-left:40px">15.2 TeamSpeak has the right to terminate the contract for the use of the customer account at any time by giving three months&#39; notice to the end of the quarter of a calendar year.</p>

<p style="margin-left:40px">15.3 The right to extraordinary termination of both parties remains unaffected. A right to extraordinary termination exists in particular if the customer repeatedly violates his obligations under Section 14.4 of these GTC despite a warning and the violation is not insignificant.</p>

<p style="margin-left:40px">15.4 Any termination must be made in text form.</p>

<h3><a name="_Toc524517580"></a><a name="_Toc524359590"></a>16. Release of Add Ons</h3>

<p style="margin-left:40px">16.1 If the customer is registered as a developer, he has the possibility to upload Add Ons and thus offer them to third parties for free download.</p>

<p style="margin-left:40px">16.2 To upload Add Ons, the customer clicks the button labeled &quot;Upload Add Ons&quot; in the customer area of his customer account. The customer sends the Add Ons to be uploaded to TeamSpeak by pressing the button labeled &quot;Add Addon&quot;.</p>

<p style="margin-left:40px">16.3 TeamSpeak releases the Add Ons on &quot;MyTeamspeak&quot;.</p>

<p style="margin-left:40px">16.4 TeamSpeak does not check the uploaded Add Ons before they are published. In case of any indication of the illegality of an add-on, TeamSpeak expressly reserves the right to delete individual Add Ons.</p>

<p style="margin-left:40px">16.5 The Customer agrees not to publish any Add Ons to TeamSpeak that violate the laws of the Federal Republic of Germany, the rights of TeamSpeak or the rights of third parties.</p>

<p style="margin-left:40px">16.6 The customer releases TeamSpeak from all rights of third parties, which they assert against TeamSpeak due to the publication of Add Ons on myteamspeak.com by the customer. Subject to the consent of the customer, TeamSpeak will not make any acknowledgments or other legal declarations substantiating the asserted claims of the third party.</p>

<p style="margin-left:40px">16.7 The indemnity obligation described in Section 16.6 of these GTC is not applicable if the circumstances substantiating the third party&#39;s claims can be proven to be based on grossly negligent or intentional misconduct on the part of TeamSpeak.</p>

<p style="margin-left:40px">16.8 TeamSpeak undertakes to inform the Customer immediately of any legal action against TeamSpeak or the assertion of claims against TeamSpeak in the event that the Customer&#39;s obligation to indemnify as set forth in Section 16.6 of these GTC intervenes, and to give the Customer the opportunity to assume legal defence.</p>

<h3><a name="_Toc524517581"></a><a name="_Toc524359591"></a>17. Termination of the customer account as a developer</h3>

<p style="margin-left:40px">17.1 The customer has the possibility to have his customer account as developer deleted by TeamSpeak at any time. To do this, the customer sends the deletion request in text form to TeamSpeak. TeamSpeak will delete the customer&#39;s Developer account immediately upon receipt of the cancellation. Add Ons published by the customer will also be deleted immediately. The contract for the use of the Developer account ends with the deletion.</p>

<p style="margin-left:40px">17.2 TeamSpeak has the right to terminate the contract for the use of the Developer Account at any time by giving three months&#39; notice to the end of the quarter of a calendar year.</p>

<p style="margin-left:40px">17.3 The right to extraordinary termination of both parties remains unaffected. A right to extraordinary termination exists in particular if the customer repeatedly violates his obligations under Section 16.5 of these GTC despite a warning and the violation is not insignificant.</p>

<p style="margin-left:40px">17.4 Any termination shall require a text form.</p>

<h2><a name="_Toc524359592"></a>&nbsp;</h2>

<h2><a name="_Toc524517582"></a>C. General terms and conditions</h2>

<h3><a name="_Toc524517583"></a><a name="_Toc524359593"></a>18. Warranty</h3>

<p style="margin-left:40px">18.1 The statutory warranty rights apply to consumers.</p>

<p style="margin-left:40px">18.2 The following provisions shall apply to entrepreneurs:</p>

<p style="margin-left:80px">18.2.1 The customer&#39;s warranty rights expire within one year. This does not apply to damages culpably caused by TeamSpeak from injury to life, body or health and grossly negligent or deliberately caused damages or fraudulent intent, as well as to recourse claims according to &sect;&sect; 478, 479 BGB (German Civil Code).</p>

<p style="margin-left:80px">18.2.2 Any warranty on the part of TeamSpeak is excluded if the defect is due to circumstances that TeamSpeak has caused at the express request of the customer.</p>

<p style="margin-left:80px">18.2.3 The strict liability for damages for initial defects according to &sect; 536a Abs. 1 BGB (German Civil Code) is excluded.</p>

<h3><a name="_Toc524517584"></a><a name="_Toc524359594"></a>19. Liability</h3>

<p style="margin-left:40px">19.1 TeamSpeak is liable in all cases of contractual and non-contractual liability for intent and gross negligence in accordance with the statutory provisions.</p>

<p style="margin-left:40px">19.2 In other cases TeamSpeak is only liable - as far as not differently regulated in clause 19.1 of these GTC - in case of violation of a contractual obligation, the fulfilment of which is essential for the proper execution of the contract and on whose compliance the customer may therefore regularly rely (so-called cardinal obligation). In all other cases, TeamSpeak&#39;s liability is excluded, subject to the provisions in Section 19.1 of these GTC.</p>

<p style="margin-left:40px">19.3 As far as TeamSpeak is liable according to clause 19.1 of these GTC, this liability is limited to damages which TeamSpeak has foreseen as a possible consequence of a breach of contract at the time of conclusion of the contract or which should have been foreseen in case of application of customary care. Indirect damages and consequential damages resulting from defects in performance by TeamSpeak are only compensable if such damages are typically to be expected when the performance is used as intended.</p>

<p style="margin-left:40px">19.4 The liability of TeamSpeak for damages from injury to life, body or health and according to the Product Liability Act remains unaffected by the above limitations and exclusions of liability.</p>

<h3><a name="_Toc524517585"></a><a name="_Toc524359595"></a>20. Offsetting, rights of retention and assignment</h3>

<p style="margin-left:40px">20.1 The customer is only entitled to offset against legally established or undisputed claims against TeamSpeak. The same applies to the assertion of rights of retention.</p>

<p style="margin-left:40px">20.2 The assignment of claims against TeamSpeak to third parties is only possible with the written consent of TeamSpeak. This applies in particular to a transfer of the license granted by TeamSpeak to third parties.</p>

<h3><a name="_Toc524517586"></a><a name="_Toc524359596"></a>21. Text form</h3>

<p style="margin-left:40px">21.1 Amendments and modifications of the agreements made between TeamSpeak and the customer including these GTC must be made in writing to become effective.</p>

<p style="margin-left:40px">21.2 With the exception of managing directors or authorized signatories, TeamSpeak employees are not entitled to make any verbal agreements to the contrary.</p>

<h3><a name="_Toc524517587"></a>22. Applicable law and place of jurisdiction</h3>

<p style="margin-left:40px">22.1 German law shall apply. In the case of consumers, this choice of law applies only insofar as the protection granted by mandatory provisions of the law of the country of the consumer&#39;s habitual residence is not withdrawn (principle of favourability).</p>

<p style="margin-left:40px">22.2 The place of performance for all services arising from business relations with TeamSpeak and the place of jurisdiction shall be the registered office of TeamSpeak, provided that the User is not a consumer but a merchant, a legal entity under public law or a special fund under public law. The same applies if the user does not have a general place of jurisdiction in Germany or the EU or if his place of residence or usual abode is not known at the time the action is filed. The authority to appeal to the court at another legal place of jurisdiction remains unaffected by this.</p>

<p style="margin-left:40px">22.3 The provisions of the UN Sales Convention expressly do not apply.</p>

<h1><br />
<a name="_Toc524517588"></a><a name="_Toc524359598"></a>II. customer information</h1>

<h2><a name="_Toc524517589"></a><a name="_Toc524359599"></a>1. Identity of the provider</h2>

<p style="margin-left:40px">TeamSpeak Systems, Inc.<br />
PO Box 211180<br />
Chula Vista, CA91921<br />
USA<br />
Phone: +1-877-832-6773<br />
Fax: +1-619-312-4145<br />
E-mail: info@teamspeak.com</p>

<h2>&nbsp;<a name="_Toc524517590"></a><a name="_Toc524359600"></a>2. Information regarding the conclusion of the contract</h2>

<p style="margin-left:40px">The technical steps for the conclusion of the contract, the conclusion of the contract itself and the possibilities for correction shall be in accordance with Section B. of the General Terms and Conditions (Part I).</p>

<h2><a name="_Toc524517591"></a><a name="_Toc524359601"></a>3. Contract language, contract text storage</h2>

<p style="margin-left:40px">The contract language is english.</p>

<p style="margin-left:40px">TeamSpeak does not save the complete contract text. Before sending the respective offer, the offer data can be printed or electronically saved using the browser&#39;s print function. With the acceptance of the offer by TeamSpeak, the contract data, the legally required information for distance contracts and the general terms and conditions are sent to the user again by e-mail.</p>

<h2><a name="_Toc524517592"></a><a name="_Toc524359602"></a>4. Essential characteristics of the goods and services</h2>

<p style="margin-left:40px">The essential characteristics of the goods and services can be found in the service description and the supplementary information on Teamspeak.com.</p>

<h2><a name="_Toc524517593"></a><a name="_Toc524359603"></a>5. Prices and payment methods</h2>

<p style="margin-left:40px">The prices and payment modalities result from the information provided at the time of conclusion of the contract as well as from the provisions in Section B. of the General Terms and Conditions (Part I).</p>

<h2><a name="_Toc524517594"></a><a name="_Toc524359604"></a>6. Statutory liability for defects</h2>

<p style="margin-left:40px">The statutory rights to liability for defects shall exist towards consumers.</p>

<h2><a name="_Toc524517595"></a><a name="_Toc524359605"></a>7. Term of contract, termination</h2>

<p style="margin-left:40px">Information on the term of the contract and the conditions of termination can be found in the respective service description and in Section B. of the General Terms and Conditions.</p>
